
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bg-white shadow p-3" style="max-width:800px">
        <h2 class="logo-font mb-4 text-center">Site Management</h2>
        <div class="row">
            {% block site_management %}
            {% endblock site_management %}
        </div>
    </div>
{% endblock %}