<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}



{% block content %}
<!-- Slider -->
<section class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    {% for slides in slides %}
                        <div class="swiper-slide">
                            <div class="card">
                            {% if request.user.is_superuser %}
                                <a href="{% url 'slides_detail' slides.id %}">
                                <img src="{{ slides.image.url }}" class="card-img-top img-height" alt="{{ slides.image.url }}"></a>
                            {% else %}
                                <img src="{{ slides.image.url }}" class="card-img-top img-height" alt="{{ slides.image.url }}">
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- /Slider -->

<!-- cta -->
<section class="bg-primary py-4 text-center text-lg-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 align-self-center">
                <h3 class="text-white">Our customers rely on us for our expertise and range of specialised services. </h3>
            </div>
            <div class="col-lg-3 text-lg-right">
                <a href="{% url 'contact' %}" class="btn btn-light btn-sm">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- /cta -->

<!-- About -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            {% for title in title %}
                <div class="about-content">
                    <h3 class="section-title section-title-border-half">{{ title.title }}</h3>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'edit_title' title.id %}"><p class="text-info">Edit</p></a> 
                    {% endif %}
                    <p class="text-dark">{{ title.description | linebreaks }}</p>
                    <a href="{% url 'services' %}" class="btn btn-primary mb-md-50 mt-4">Learn More</a>
                </div>
            {% endfor %}
            </div>
            <div class="col-lg-6">
                <div class="about-slider">
                    <img class="img-fluid" src="{% static 'images/about/about-1.jpg' %}" alt="about-image">
                    <img class="img-fluid" src="{% static 'images/about/about-2.jpg' %}" alt="about-image">
                    <img class="img-fluid" src="{% static 'images/about/about-3.jpg' %}" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /About -->

<!-- Shop -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="section-title section-title-border">Latest Products</h2>
            </div>
            <!-- team member -->
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card text-center p-3">
                {% for product in products %}
                    {% if product.image %}
                    <img class="card-img-top rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body pb-0">
                        <a href="team-single.html" class="card-title h4 font-primary text-dark">{{ product.name }}</a>
                        <h6 class="text-color">{{ product.category }}</h6>
                        <p class="card-text border-bottom pb-3"></p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="text-color d-inline-block py-1 px-3">
                                    <i class="ti-money">{{ product.price }}</i>
                                </a>
                            </li>
                            {% endfor %}
                            <a rel="nofollow" href="shop-cart.html" class="button product_type_simple add_to_cart_button">Add to cart</a>
                            <a href="cart.html" class="added_to_cart wc-forward" title="View cart">View cart</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Shop -->


<!-- Notification -->
<section class="cta overlay-dark section-sm" style="background-image: url({% static 'images/background/cta-2.png' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="text-white mb-20">If you own, or are planing on owning a property for rental or live abroad, be sure to need a reliable (maintenance provider)</h3>
                <a href="#" class="btn btn-light">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- /Notification -->

<!-- Testimonial -->
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title section-title-border"> What clients Say </h2>
            </div>
            This is a testament section.
            <div class="col-lg-5 col-md-5 pr-0 align-self-center">
                <img class="img-fluid w-100" src="{% static 'images/client.png' %}" alt="clients-image">
            </div>
            <div class="col-lg-7 col-md-7 align-self-center pl-0">
                <div class="testimonial-slider p-5">
                    <!-- slider item -->
                    {% for testament in object_list %}
                    <div class="outline-0">
                        <i class="testimonial-icon ti-quote-left"><!--authors image?--></i>
                        <p class="text-dark">{{ testament.body }}</p>
                        <h4 class="font-weight-normal">{{ testament.author }}</h4>
                        <h6 class="font-secondary text-color">{{ testament.date }}</h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Testimonial -->
{% endblock %}

