<!DOCTYPE html>
{% extends "base.html" %} {% block content %}
<!-- hero area -->{% load static %}
<section>
    <div class="hero-slider-2 position-relative overlay">
        <div class="hero-slider-item py-160" style="background-image: url({% static 'images/banner/banner-3.jpeg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content">
                            <h4 class="text-white text-uppercase mb-1" data-duration-in=".5" data-animation-in="fadeInLeft" data-delay-in=".1">Welcome to</h4>
                            <h1 class="text-white font-weight-bold mb-3" data-duration-in=".5" data-animation-in="fadeInLeft" data-delay-in=".5">Hunt Interiors</h1>
                            <p class="text-white mb-50" data-duration-in=".5" data-animation-in="fadeInLeft" data-delay-in=".9">
                                Hunt Interiors Founded in 2005, Hunt Interiors soon became the company of choice of 
                                <br>many discerning homeowners in London and the South east. 
                            </p>
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="{% url 'services' %}" class="btn btn-primary text-uppercase">more details</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
</section>
<!-- /hero-area -->
<!-- Notification -->
<section class="bg-primary py-4 text-center text-lg-left">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 align-self-center">
        <h3 class="text-white">
          Our customers rely on us for our expertise and range of specialised
          services.
        </h3>
      </div>
      <div class="col-lg-3 text-lg-right">
        <a href="{% url 'contact' %}" class="btn btn-light btn-sm">Contact Us</a>
      </div>
    </div>
  </div>
</section>
<!-- /Notification -->
<!-- About -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        {% for title in title %}
        <div class="about-content">
          <h2 class="section-title section-title-border-half">
            {{ title.title }}
          </h2>
          {% if request.user.is_superuser %}
          <a href="{% url 'edit_title' title.id %}">
            <p class="text-info">Edit</p>
          </a>
          {% endif %}
          <p class="text-dark">{{ title.description | linebreaks }}</p>
          <a href="{% url 'services' %}" class="btn btn-primary mb-md-50 mt-4">Learn More</a>
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-5 ml-5">
        <div class="about-slider d-none d-lg-block">
        {% for slides in slides %}
            {% if request.user.is_superuser %}
                <a href="{% url 'slides_detail' slides.id %}">
                <img class="img-fluid" src="{{ slides.image.url }}" alt="about-image" /></a>
            {% else %}
                <img class="img-fluid" src="{{ slides.image.url }}" alt="about-image" />
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About -->
<!-- Notification -->
<section class="cta overlay-dark section-sm" style="background-image: url({% static 'images/background/cta-2.png' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="text-white mb-20">Check out some of our projects?</h3>
                <a href="{% url 'gallery' %}" class="btn btn-light">View Gallery</a>
            </div>
        </div>
    </div>
</section>
<!-- /Notification -->
<!-- Shop -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="section-title section-title-border">Latest Products</h2>
            </div>
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-sm-6 mb-5">
                            <div class="card text-center">
                                {% if product.image %}
                                <div class="card-img-wrapper overlay-rounded-top">
                                    <img class="card-img-top rounded-0 img-height" src="{{ product.image.url }}" alt="Products">
                                </div>
                                {% endif %}
                                <div class="card-body p-0">
                                    <h4 class="card-title pt-3">{{ product.name }}</h4>
                                    <p class="card-text mx-2 mb-0 font-weight-bold">${{ product.price }}</p>
                                    <a href="{% url 'product_detail' product.id %}" class="btn btn-secondary translateY-25">View Item</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
      </div>
</section>
<!-- /Shop -->
<!-- Notification -->
<section class="cta overlay-dark section-sm" style="background-image: url({% static 'images/background/consultation.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="text-white mb-20">If you own, or are planing on owning a property for rental or live abroad, be sure to secure a reliable (maintenance provider)</h3>
                <a href="{% url 'contact' %}" class="btn btn-light">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- /Notification -->
<!-- Testimonial -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title section-title-border">What clients Say</h2>
      </div>
      <div class="col-lg-5 col-md-5 pr-0 align-self-center d-none d-lg-block">
        <img class="img-fluid w-100" src="{% static 'images/client.png' %}" alt="clients-image" />
      </div>
      <div class="col-lg-7 col-md-7 align-self-center pl-0">
        <div class="testimonial-slider p-5">
          <!-- slider item -->
          {% for testament in testaments %}
          <div class="outline-0 ">
            <i class="testimonial-icon ti-quote-right pt-2"></i>
            <h4 class="font-weight-normal text-capitalize">{{ testament.author }}</h4>
            <h6 class="font-secondary text-color">{{ testament.date }}</h6>
            <p class="text-dark">{{ testament.body }}</p>
            <i class="testimonial-icon ti-quote-left float-right pt-2"></i>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonial -->
{% endblock %}