<!doctype html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <!-- Slider -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    {% for slide in slides %}
                        <div class="swiper-slide">
                            <div class="card">
                            <img src="{{ slide.image.url }}" class="card-img-top img-height" alt="...">
                            <div class="card-body bg-dark">
                                <h5 class="card-title text-light font-weight-bold text-center">{{ slide.title }}</h5>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <!-- Main Content -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <div class="card my-3">
                {% for main in maincontent %}
                    <div class="card-body">
                        <h5 class="card-title display-4 text-center">{{ main.title }}</h5>
                        <p class="card-text font-weight-bold text-justified">{{ main.description | linebreaks }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <!-- Subcontent -->
    <div class="section-index">
    {% for sub in subcontent %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="row">
            {% if sub.image %}
                <div class="col-md-6 section-index-img">
                    <img src="{{ sub.image.url }}" class="rounded img-fluid" alt=""/>
                </div>
            {% endif %}
            <div class="col-md-6">
            <a href="{% url 'sub_detail' sub.id %}">
                <h4>{{ sub.title }}</h4>
            </a>
                <p class="text-muted">{{ sub.description | linebreaks }}</p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-6">
            <a href="{% url 'sub_detail' sub.id %}">
                <h4>{{ sub.title }}</h4>
            </a>
                <p class="text-muted">{{ sub.description | linebreaks }}</p>
            </div>
            {% if sub.image %}
                <div class="col-md-6 section-index-img">
                    <img src="{{ sub.image.url }}" class="rounded img-fluid" alt=""/>
                </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{% endblock %}