<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if gallery_detail.image %}
                        <a href="{{ gallery_detail.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ gallery_detail.image.url }}" alt="{{ gallery_detail.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ gallery_detail.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="gallery-details-container mb-5 mt-md-5">
                    <p class="lead mb-0 text-left font-weight-bold">{{ gallery_detail.name }}</p>
                    <p class="mb-0">Design: {{ gallery_detail.design }}</p>
                    <p class="mt-3">Desccription: {{ gallery_detail.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}