<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Title -->
<section class="page-title overlay" style="background-image: url({% static 'images/background/cta-2.png' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white font-weight-bold">Gallery</h2>
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="{% url 'gallery' %}">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /Page Title -->
    <div class="container bg-white shadow p-3">
        <h1 class="text-black mb-5">Site Management</h1>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <a href="{{ img.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ img.image.url }}" alt="{{ img.name }}">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="img-details-container mb-5 mt-md-5">
                    <p class="mb-0">Name: {{ img.name }}</p>
                    <small class="text-muted">Design: {{ img.category }}</small>
                    <p class="mt-3">Description: {{ img.description }}</p>
                </div>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a class="btn btn-outline-secondary" href="{% url 'edit_image' img.id %}">Edit</a> 
                        <a class="btn btn-outline-warning" href="{% url 'delete_image' img.id %}">Delete</a>
                        <a class="btn btn-outline-info" href="{% url 'add_image' %}">Add Another Image</a>
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}