<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Title -->
<section class="page-title overlay" style="background-image: url({% static 'images/background/cta-2.png' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white font-weight-bold">Gallery</h2>
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="{% url 'gallery' %}">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /Page Title -->
<!-- Image -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-lg-4">
                <!-- Image -->
                <div class="bg-gray rounded mb-50">
                <a href="{{ img.image.url }}" target="_blank" rel="noopener noreferrer">
                    <img class="img-fluid w-100 rounded-top" src="{{ img.image.url }}" alt="image detail">
                </a>
                </div>
                <br>
            </aside>
            <!-- /Sidebar -->
            <!-- Details -->
            <div class="col-lg-8 mb-5">
                <div>
                    <h2>{{ img.name }}</h2>
                    <h6 class="text-primary mb-30"></h6>
                    <p class="mb-40"><span class="font-weight-bold">Design: </span>{{ img.category }}</p>
                    <p class="mb-40"><span class="font-weight-bold">Description: </span>{{ img.description }}</p>
                </div>
                {% if request.user.is_superuser %}
                <div class="col-sm-12">
                    <a href="{% url 'edit_image' img.id %}"><button class="btn btn-primary btn-sm mr-2">Edit</button></a>
                    <a href="{% url 'delete_image' img.id %}"><button class="btn btn-primary btn-sm ml-2">Delete</button></a>
                    <a href="{% url 'add_image' %}"><button class="btn btn-secondary btn-sm ml-2">Add Another Image</button></a>
                </div>
                {% endif %}
            </div>
            <!-- /Details -->
        </div>
    </div>
</section>
<!-- /Image -->
{% endblock %}