<!DOCTYPE html>
<html>
    <body>
        <a href="https://glacial-eyrie-71049.herokuapp.com/" class="f-fallback email-masthead_name"><h3>Hunt Interiors</h3></a>
        <p>Someone asked for password reset for email {{ email }}.</p>
        <br>
        <br>
        <p>Follow the link below: <span>{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}</span></p>
        <br>
        <br>
        <br>
        <p>Your username, in case you've forgotten: <span>{{ user.get_username }}</span></p>
    </body>
</html>