<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="container bg-white p-4 shadow" style="max-width:550px">
 <h1 class="">Change your password</h1>
  <p>Use the form below to change your password.</p>
  <form method="post">
    {% for field in form %}
    <div class="form-group">
    {{field|as_crispy_field}}
    </div>
    {% endfor %}
    <div class="text-center">
   <input type="submit" value="Change" class="btn btn-warning"></div>
    {% csrf_token %}
  </form> </div>
{% endblock %}