html {
    height: 100%;
}

body {
    background-color: #ffdb87;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}


/*---------------- Index ----------------*/

.swiper-button-next, .swiper-button-prev{
    color: ghostwhite!important;
}

.swiper-slide{
    width: 100%;
}

.img-height{
    height: 22rem;
    max-width: 20rem!important;
}

.section-index > .row:first-of-type > .col-md-6 {
    margin-top:3em
}
.section-index h4{
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.section-index-img img{
    max-width: 25rem;
    min-width: 25rem;
}


/*---------------- Services ----------------*/

.serv-box{
    background-color: fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.serv-img{
    max-width: 25rem;
    min-width: 25rem;
}

.serv-img img{
    height: 100%;
    object-fit: cover;
}

.serv-info{
    max-width: calc(100% - 25rem);
    padding: 95px 110px 88px;
}

.serv-info > h3{
    color: #070c1f;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 29px;
}

.serv-info p{
    color: #070c1f;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 52px;
    max-width: 50rem;
}

.block{
    display: block;
}


/*---------------- Contact ----------------*/

.contact-area {
  position: relative;
  z-index: 1;
}

.contact-area .google-maps {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 470px; }

.contact-area .google-maps iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.contact-information {
  position: relative;
  z-index: 1;
  padding:1em;
  border: 3px solid #ffdb87;
  border-radius: 3px; }


.contact-form {
    position: relative;
    z-index: 1;
}

.contact-form .form-control {
    width: 100%;
    height: 46px;
    padding: 0 15px;
    font-size: 13px;
    font-style: italic;
}

.contact-form .form-control:focus {
    box-shadow: none;
    border-color: #ffdb87;
}

.contact-form textarea.form-control {
    height: 110px;
    padding: 15px;
}

/* Back to top */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


/*---------------- Testimonial ----------------*/

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* testimonial forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
.signup-form{
    max-width: 550px!important;
}
input[type=submit] {
    font-weight:bold;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}


/*---------------- Account ----------------*/

.social li {
    list-style:none;
    width: 11em;
    text-align: center;
    padding: .5em .7em;
}
.social li a {
    width:100%;
    height:100%;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.google { background:#de1710; }

.image-detail {
   max-width: 250px; 
   max-height: 250px; 
}
img{
    height: 18em;
}


/*---------------- Media Queries ----------------*/

/* Screen size for extra large monitors */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
/* added space in home page between navbar and slider */
@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }
}

@media only screen and (max-width: 767px) {
    .contact-information {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .contact-area .google-maps {
        height: 280px;
    }
}

@media (max-width:900px){
    .section-index > .row:first-of-type {
        flex-direction: column-reverse;
    }
}

@media (max-width:1000px){
    .upper-index > .col-md-6{
        flex: 1!important;
        max-width: 100%!important;
    }
}
