<!DOCTYPE html>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font text-black my-0">Hunt Interiors</h2>
            </a>
            <p>With a network of highly skilled tradesmen (all with exceptional years of experience) we also offer interior design consultants if needed.</p>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="widget widget_nav_menu mb-0">
                <h3 class="widget-title">Navigation</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'services' %}">Services</a>
                    </li>
                    <li>
                        <a href="{% url 'testament_list' %}">Testimonials</a>
                    </li>
                    <li>
                        <a href="{% url 'products' %}">Shop</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-0">
            <div class="widget widget_icons_list">
                <h3 class="widget-title">Contact info</h3>
                <ul>
                    <li class="icon-inline">
                        <div class="icon-styled icon-top color-main fs-14">
                            <i class="fa fa-phone"></i>
                        </div>
                        <p>07985 095 095</p>
                    </li>
                    <li class="icon-inline">
                        <div class="icon-styled icon-top color-main fs-14">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <p><a href="#">info@huntinteriors.co.uk</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="page_copyright ds ms s-py-15 s-bordertop">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p>&copy; Copyright <span class="copyright_year">2020</span> All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>