<!DOCTYPE html>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
            
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="gallery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?q=interiors" class="dropdown-item">Interiors</a>
                <a href="{% url 'products' %}?q=exteriors" class="dropdown-item ">Exteriors</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'testament_list' %}" id="testimonials" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Testimonials
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>