<!DOCTYPE html>
<div class="row ">
    <!--Logo-->
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-12">
        <a href="{% url 'home' %}" class="logo">
            <img src="static/logo.png" alt="" style="width: 200px;" >
        </a>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 d-flex align-items-center justify-content-end ">
        <!-- main nav start -->
        <nav class="top-nav">
            <ul class="nav sf-menu">
                <li class="nav-item">
                    <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'home' %}" id="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'services' %}" id="services">Services</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="gallery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gallery
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="gallery-link">
                        <a href="{% url 'gallery' %}?q=interiors" class="dropdown-item">Interiors</a>
                        <a href="{% url 'gallery' %}?q=exteriors" class="dropdown-item ">Exteriors</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shop
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                        <a href="{% url 'products' %}" class="dropdown-item">All Furniture</a>
                        <a href="{% url 'products' %}?category=bed" class="dropdown-item">Bed</a>
                        <a href="{% url 'products' %}?category=sofa" class="dropdown-item">Sofa</a>
                        <a href="{% url 'products' %}?category=chair" class="dropdown-item">Chair</a>
                        <a href="{% url 'products' %}?category=table" class="dropdown-item">Table</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'testament_list' %}" id="testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'contact' %}" id="contact-us">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</div>