<!DOCTYPE html>
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="interiors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Interiors
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="exteriors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exteriors
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="property-management" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Property Management
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>