{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container bg-white shadow p-4" style="max-width:550px">
<h1>Add a testament</h1>
<form action="" method="post">{% csrf_token %}
{{ form|crispy }}
<div class="text-center">
<button class="btn btn-warning" type="submit">Add</button></div>
</form></div>
{% endblock content %}