<!DOCTYPE html>

There is a connection but does not display testament


 <div class="card-group">
    {% for testament in object_list %}
        <div class="card mx-2">
            <div class="card-body">
                <span class="font-weight-bold">{{ testament.title }}</span> &middot;
                <span class="text-muted">by {{ testament.author }} | {{ testament.date }}</span>
                <p class="card-text">{{ testament.body }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    {% endfor %}
    </div>

{% for testament in object_list %}
    {{ testament.title }}
    {{ testament.author }} | {{ testament.date }}
    {{ testament.body }}
{% endfor %}
