<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="container bg-white shadow p-5" style="max-width:700px">
  <h1 class="text-black">Dashboard</h1>
  {% if request.user.is_authenticated %}
  <h5 class="text.muted mb-2 text-bold">Welcome to your dashboard, {{ request.user.first_name }}! </h5>
  <div class="row p-3">
  {% if user.profile.photo %}
  <div class="col">
    <img src="{{ user.profile.photo.url }}" class="image-detail"></div>{% endif %}
    <div class="col">
    <p>First name: {{ request.user.first_name }}</p>
    <p>Last name: {{ request.user.last_name }}</p>
    <p>Email: {{ request.user.email }}</p></div>
  {% endif %}
  </div>
  <div class="text-center">
  <a href="{% url 'edit' %}" class="btn btn-outline-secondary mr-1">Edit profile</a><a class="btn btn-outline-secondary ml-1" href="{% url 'password_change' %}">Change password</a></p>
</div>
</div>
{% endblock %}