<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{{% block content %}
  <h1>Dashboard</h1>
  {% if request.user.is_authenticated %}
  <p>Welcome to your dashboard, {{ request.user.first_name }}! </p>
  <img src="{{ user.profile.photo.url }}" class="image-detail">
  <p>First name: {{ request.user.first_name }}</p>
  <p>Last name: {{ request.user.last_name }}</p>
  <p>Email: {{ request.user.email }}</p>
  {% endif %}
  
  <p>You can <a href="{% url 'edit' %}">edit your profile</a> or <a href="{% url 'password_change' %}">change your password</a>.</p>
{% endblock %}