<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container bg-white p-4 shadow" style="max-width:720px">
  <h1>Edit your account</h1>
  <p>You can edit your account using the following form:</p>
  <!-- enctype enables file uploads -->
  <form method="post" enctype="multipart/form-data">
    {{ user_form|crispy}}
    {{ profile_form|crispy }}
    {% csrf_token %}
    <div class="text-center">
    <input type="submit" class="btn btn-warning" value="Save changes"></div>
  </form></div>
{% endblock %}