<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create an account{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container bg-white shadow p-3 signup-form">
  <h1>Create an account</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in user_form %}
    <div class="form-group">
    {{field|as_crispy_field}}
    </div>
    {% endfor %}
    <div class="text-center">
    <input type="submit" value="Create my account" class="btn btn-warning"/>
    </div>
  </form>
</div>
{% endblock %}