<!DOCTYPE html>
{% extends "home/base_management.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block site_management %}
<form method="POST" action="{% url 'add_image' %}" class="m-auto" enctype="multipart/form-data">
    <h4 class="mb-2">Add an Image</h4>
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-center">
        <a class="btn btn-outline-secondary" href="{% url 'manage' %}">Cancel</a>
        <button class="btn btn-outline-warning" type="submit">Add Image</button>
    </div>
</form>
{% endblock %}