<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">Name: {{ product.name }}</p>
                    <small class="text-muted">Design: {{ product.category }}</small>
                    <p class="mt-3">Description: {{ product.description }}</p>
                </div>
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_image' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_image' product.id %}">Delete</a>
                    </small>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}