<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row h-100 d-flex justify-content-end">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Services
                </h1>
                <p style="font-size: 30px">Please review our services</p>
                <div class="my-5 pb-5">
                    <h4>
                        <a href="{% url 'contact' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 float-right">Get a Quote</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

<section class="block">
        <!--TEST SECTION-->
    <div class="container">
    {% for serv in services %}
            <div class="serv-box">
                {% if serv.image %}
                <div class="serv-img">
                    <img src="{{ serv.image.url }}" alt="{{ serv.image.url }}" class="w-100"/>
                </div>
                {% endif %}
                <div class="serv-info">
                    <h3>{{ serv.title }}</h3>
                    <p>{{ serv.description | truncatewords:25}}</p>
                    <a href="{% url 'services_detail' serv.id %}"><p class="text-info">Read More</p></a>
                </div>
            </div>
    {% endfor %}
    </div>
</section>
{% endblock %}